<!-- 自定义二级导航 -->
<!--
3列图标，9列 链接，2行 
ul 宽 980，左右边距 19px
li 宽88
图标 50px
-->
<style type="text/css">
.vk_nv_sub { width:980px; margin:0 auto; margin-top:0px; margin-bottom:0px; padding:10px 0px; background:#fff;/* border:1px solid #ccc; border-top:none; box-shadow:1px 1px 3px #ccc; */}

.vk_nv_sub_item { float:left; display:inline-block; width: 320px; margin-right:10px; overflow:hidden; background-color:#0ad;}
.vk_right { margin-right:0px !important; }
.vk_color_bg_orange { background-color:#f90; }
.vk_color_bg_green { background-color:#580; }

.vk_nv_sub_item .icon_wp { float:left; display:inline-block; padding-top:0px; width:60px;  height:80px; overflow:hidden; color:#fff;  font-size:14px;  text-align:center;  }
.vk_nv_sub_item .icon_wp p a { color:#fff;  font-size:16px; font-weight:bold; height:30px;  line-height:30px; overflow:hidden; }

.vk_nv_sub_item .icon { display:inline-block; margin:10px 5px 0 5px; padding-top:0px; width:60px;  height:60px;}

.vk_nv_sub_item ul{ width: 240px; float:left; overflow:hidden;  margin:10px 5px 0 5px;  }
.vk_nv_sub_item ul li { float:left; width:80px; height:30px;   padding:0px; margin:0px;  background:url({$_G['style']['styleimgdir']}/vk_nv_sub_li_bg.png) no-repeat 100% 0;}
.vk_nv_sub_item ul li a { float:left; width:65px; height:30px; line-height:30px; padding:0 10px; font-size:14px; color:#fff; }
.vk_nv_sub_item ul li a:hover { color:#fff; background:#0099a1; text-decoration:none; }
.vk_nv_sub_item ul li.right { padding-right:0; background:none; }
.vk_nv_sub_item ul li.left { padding-left:0; margin-left:0px; }

.vk_icon_1 .icon { background:url({$_G['style']['styleimgdir']}/vk_icon_1.png) no-repeat; }
.vk_icon_2 .icon { background:url({$_G['style']['styleimgdir']}/vk_icon_2.png) no-repeat; }
.vk_icon_3 .icon { background:url({$_G['style']['styleimgdir']}/vk_icon_3.png) no-repeat; }

</style>

<div class="vk_nv_sub png cl">
  <div class="vk_nv_sub_item vk_icon_1 cl vk_color_bg_green">
    <div class="icon_wp">
      <div class="icon"></div>

    </div>
    <ul class="cl">
      <li class="left"><a href="#" >谈天说地</a></li>
      <li><a href="#" >生活杂谈</a></li>
      <li class="right"><a href="#" >潮流生活</a></li>
      <li class="left"><a href="#" >校友情深</a></li>
      <li><a href="#" >便民服务</a></li>
      <li class="right"><a href="#" >美食天地</a></li>
    </ul>
  </div>
  <div class="vk_nv_sub_item vk_icon_2 cl vk_color_bg_orange">
    <div class="icon_wp">
      <div class="icon"></div>

    </div>
    <ul class="cl">
      <li class="left"><a href="#" >谈婚论嫁</a></li>
      <li><a href="#" >房产家居</a></li>
      <li class="right"><a href="#" >上班一族</a></li>
      <li class="left"><a href="#" >优惠打折</a></li>
      <li><a href="#" >以车会友</a></li>
      <li class="right"><a href="#" >旅游休闲</a></li>
    </ul>
  </div>
  <div class="vk_nv_sub_item vk_icon_3 cl vk_right">
    <div class="icon_wp">
      <div class="icon"></div>

    </div>
    <ul class="cl">
      <li class="left"><a href="#" >美食天下</a></li>
      <li><a href="#" >房产家居</a></li>
      <li class="right"><a href="#" >二手闲置</a></li>
      <li class="left"><a href="#" >商家促销</a></li>
      <li><a href="#" >求职招聘</a></li>
      <li class="right"><a href="#" >同城团购</a></li>
    </ul>
  </div>

</div>