<!-- 自定义二级导航 -->
<!--
3列图表，9列 链接
ul 宽 980，左右边距 19px
li 宽88
图标 50px
980 = 38 + 150 + 792 = 3 * 264  = 88*3
38 = 19*2
150 = 50*3
-->
<style type="text/css">
.vk_nv_sub { width:960px; margin:0 auto; margin-top:-5px; margin-bottom:10px; padding:10px 10px; background:#fff; border:1px solid #ccc; border-top:none; box-shadow:1px 1px 3px #ccc; }

.vk_nv_sub_item { float:left; display:inline-block; width: 314px; margin-left:5px; overflow:hidden;}

.vk_nv_sub_item .icon { float:left; display:inline-block; padding-top:10px; width:50px;  height:65px; line-height:100px; overflow:hidden; color:#0ad;  font-size:14px; text-indent:5px; }

.vk_nv_sub_item ul{ width: 264px; float:left; overflow:hidden;}
.vk_nv_sub_item ul li { float:left; width:88px; height:25px;  padding:0px; background:url({$_G['style']['styleimgdir']}/vk_nv_sub_li_bg.png) no-repeat 100% 0; }
.vk_nv_sub_item ul li a { float:left; width:68px; height:25px; line-height:25px; padding:0 10px; font-size:14px; }
.vk_nv_sub_item ul li a:hover { color:#fff; background:#fa1; text-decoration:none; }
.vk_nv_sub_item ul li.right { padding-right:0; background:none; }
.vk_nv_sub_item ul li.left { padding-left:0; }

.vk_icon_1 .icon { background:url({$_G['style']['styleimgdir']}/vk_icon_1.png) no-repeat; }
.vk_icon_2 .icon { background:url({$_G['style']['styleimgdir']}/vk_icon_2.png) no-repeat; }
.vk_icon_3 .icon { background:url({$_G['style']['styleimgdir']}/vk_icon_3.png) no-repeat; }

</style>
<!--
<div class="vk_nv_sub png cl">
  <div class="vk_nv_sub_item vk_icon_1 cl">
    <div class="icon">学习</div>
    <ul class="cl">
      <li class="left"><a onclick="alert('请等待网站正式上线后使用！');">校园文学</a></li>
      <li><a onclick="alert('请等待网站正式上线后使用！');">考级考证</a></li>
      <li class="right"><a onclick="alert('请等待网站正式上线后使用！');">计算机</a></li>
      <li class="left"><a onclick="alert('请等待网站正式上线后使用！');">创翼名师</a></li>
      <li><a onclick="alert('请等待网站正式上线后使用！');">生活百科</a></li>
      <li class="right"><a href="http://lib.wczy.cn" target="_blank">图书馆</a></li>
      <li class="left"><a href="http://xlzx.wczy.cn/" target="_blank">心理健康</a></li>
    
      <li><a href="http://119.97.221.78/newhb_ilearning/" target="_blank">精品课程</a></li>
	  <li class="right"><a href="http://www.wczy.cn/Category_71/Index.aspx" target="_blank">教务处</a></li>
    </ul>
  </div>
  <div class="vk_nv_sub_item vk_icon_2 cl">
    <div class="icon">生活</div>
    <ul class="cl">
      <li class="left"><a onclick="alert('请等待网站正式上线后使用！');">校内商家</a></li>
      <li><a onclick="alert('请等待网站正式上线后使用！');">商家优惠</a></li>
      <li class="right"><a onclick="alert('请等待网站正式上线后使用！');">校内团购</a></li>
      <li class="left"><a onclick="alert('请等待网站正式上线后使用！');">校内美食</a></li>
      <li><a onclick="alert('请等待网站正式上线后使用！');">在线订餐</a></li>
      <li class="right"><a onclick="alert('请等待网站正式上线后使用！');">便民信息</a></li>
      <li class="left"><a href="/forum-40-1.html" >校内兼职</a></li>
      <li><a href="n/forum-52-1.html">跳蚤市场</a></li>
      <li class="right"><a onclick="alert('请等待网站正式上线后使用！');" >商家进驻</a></li>
    </ul>
  </div>
  <div class="vk_nv_sub_item vk_icon_3 cl">
    <div class="icon">社区</div>
    <ul class="cl">
      <li class="left"><a href="/forum-2-1.html" >趣闻爆料</a></li>
      <li><a href="/forum-39-1.html" >灌水乐园</a></li>
      <li class="right"><a href="/forum-43-1.html" >校园美图</a></li>
      <li class="left"><a onclick="alert('请等待网站正式上线后使用！');" >新手报到</a></li>
      <li><a onclick="alert('请等待网站正式上线后使用！');" >新手指引</a></li>
      <li class="right"><a onclick="alert('请等待网站正式上线后使用！');" >关于创翼</a></li>
      <li class="left"><a onclick="alert('请等待网站正式上线后使用！');" >论坛规则</a></li>
      <li><a href="#" >意见反馈</a></li>
      <li class="right"><a  onclick="alert('请等待网站正式上线后使用！');" >举报申诉</a></li>
    </ul>
  </div>

</div>
-->