<!--{subtemplate common/header}-->
<style id="diy_style" type="text/css"></style>

<!--  上部广告图片占位   -->
<div class="wp vk_index">
  	<!--[diy=diy_vk_ad_top]--><div id="diy_vk_ad_top" class="area"></div><!--[/diy]-->
</div>

<!--  上部图片   -->
<div class="wp vk_index">
  	<!--[diy=diy_col_1-3]--><div id="diy_col_1-3" class="area"></div><!--[/diy]-->
</div>

<div class="wp col col_2-3-1  col_vk_title">
    <!--幻灯片模块--> 
    <div class="col_2-3-1_l">
      <div class="vk_portal_slide_top"><!--[diy=diy_vk_portal_slide_top]--><div id="diy_vk_portal_slide_top" class="area"></div><!--[/diy]--></div>
      <div class="vk_portal_info_left shadow_1"><!--[diy=diy_vk_portal_info_left]--><div id="diy_vk_portal_info_left" class="area"></div><!--[/diy]--></div>
    </div>
    <!--幻灯片模块-->
    
    <!-- 首页上部焦点模块 start -->
    <div class="col_2-3-1_m border_1">
    	<div class="vk_portal_hot">
            <div class="vk_portal_hot_title"></div>
            <div class="vk_portal_hot_ct shadow_1"><!--[diy=diy_vk_portal_hot_ct]--><div id="diy_vk_portal_hot_ct" class="area"></div><!--[/diy]--></div>
        </div>
    </div>
    <!-- 首页上部焦点模块 end -->
    
    <!-- 上部右侧模块 start-->
    <div class="col_2-3-1_r col_vk_title">
    	<div class="vk_top_post_pic ">
        	<a href="#" class="left vk_post_1 left"> 找房子 </a>
        	<a href="#" class="left vk_post_2 right"> 淘宝贝 </a>
        	<a href="#" class="left vk_post_3 left"> 投简历 </a>
        	<a href="#" class="left vk_post_4 right"> 找工作 </a>
        </div>
    	<div class="vk_top_post">
        	<a href="#" class="left"> 餐饮美食 </a>
        	<a href="#" class="right"> 出游玩乐 </a>
        	<a href="#" class="left"> 潮流时尚 </a>
        	<a href="#" class="right"> 反馈建议 </a>
        </div>
    	<div class="vk_top_post_qr">
        	<a href="#" class="left vk_post_5 left">  </a>
        	<a href="#" class="left vk_post_6 right">  </a>
        </div>

    	<div class="vk_top_sd_ad"><!--[diy=diy_vk_top_r_02]--><div id="diy_vk_top_r_02" class="area"></div><!--[/diy]--></div>
    	<div class="vk_top_sd shadow_1 "><!--[diy=diy_vk_top_r_2]--><div id="diy_vk_top_r_2" class="area"></div><!--[/diy]--></div>
    </div>
    <!-- 上部右侧模块 end -->
</div>

<!--  焦点下部 全屏横幅广告占位   -->
<div class="wp vk_index">
  	<!--[diy=diy_vk_ad_2]--><div id="diy_vk_ad_2" class="area"></div><!--[/diy]-->
</div>

<!--  图文模块 I   -->
<div class="wp vk_index col_vk_title">
<!--<h2><a href="#" target="_blank"> 图闻天下 </a> <span><a href="#"> 更多 >> </a></span></h2>-->
<div class=" border_radius_0_0_5_5 shadow_1"><!--[diy=diy_vk_pic_1_1]--><div id="diy_vk_pic_1_1" class="area"></div><!--[/diy]--> </div>
</div>

<!--  首页 全屏横幅广告占位 3  -->
<div class="wp vk_index">
  	<!--[diy=diy_vk_ad_3]--><div id="diy_vk_ad_3" class="area"></div><!--[/diy]-->
</div>

<!--  导读：社区模块   -->
<div class="wp vk_index col col_vk_title">
	<div class="col_3-1_l">
		<!--
		    <h2><a href="#" target="_blank"> 社区导读 </a>  <span><a class="vk_fast_post" href="forum.php?mod=misc&amp;action=nav" onclick="showWindow('nav', this.href, 'get', 0)"> 快捷发帖 + </a></span></h2>
		-->
		<div class="col_3-1_l_1-1">
		  	<!--[diy=diy_vk_guide_1_1]--><div id="diy_vk_guide_1_1" class="area"></div><!--[/diy]-->
		</div>
		<div class="col_3-1_l_1-1 m_r_0 right">
		  	<!--[diy=diy_vk_guide_1_2]--><div id="diy_vk_guide_1_2" class="area"></div><!--[/diy]-->
		</div>
	</div>
    
	<div class="col_3-1_r vk_tab m_r_0 right">
	  	<!--[diy=diy_vk_guide_1_r]--><div id="diy_vk_guide_1_r" class="area"></div><!--[/diy]-->
	</div>
</div>

<!--  首页 全屏横幅广告占位 4  -->
<div class="wp vk_index">
  	<!--[diy=diy_vk_ad_4]--><div id="diy_vk_ad_4" class="area"></div><!--[/diy]-->
</div>

<!--  生活消费  -->
<div class="wp vk_index col  col_vk_title">
	<div class="col_3-1_l vk_tab vk_tab_right">
	    <div class=" border_radius_0_0_5_5 shadow_1">
	  		<!--[diy=diy_vk_guide_2_2]--><div id="diy_vk_guide_2_2" class="area"></div><!--[/diy]-->
	    </div>
	</div>
	<div class="col_3-1_r vk_tab m_r_0 right">
	  	<!--[diy=diy_vk_guide_2_1]--><div id="diy_vk_guide_2_1" class="area"></div><!--[/diy]-->
	</div>
</div>

<!--  招聘求职  -->
<div class="wp vk_index col  col_vk_title">
	<div class="col_3-1_l vk_tab vk_tab_right">
		<div class=" border_radius_0_0_5_5 shadow_1">
				<!--[diy=diy_vk_guide_2_2_job]--><div id="diy_vk_guide_2_2_job" class="area"></div><!--[/diy]-->
	    </div>
	</div>
	<div  class="col_3-1_r vk_tab m_r_0 right">
		<!--[diy=diy_vk_guide_2_1_job]--><div id="diy_vk_guide_2_1_job" class="area"></div><!--[/diy]-->
	</div>
</div>

<!--  首页 全屏横幅广告占位 5  -->
<div class="wp vk_index">
  	<!--[diy=diy_vk_ad_5]--><div id="diy_vk_ad_5" class="area"></div><!--[/diy]-->
</div>

<!--  商家促销   -->
<div class="wp vk_index col_inner  shadow_1">
    <h2>
    	<a href="#" target="_blank"> 商家促销 </a> 
        <span>
        <a href="#" > 生活日用 </a> <em> | </em>
        <a href="#" > 电子数码 </a> <em> | </em>
        <a href="#" > 美容服饰 </a> <em> | </em>
        <a href="#" > 餐饮美食 </a> <em> | </em>
        <a href="#" > 家具家居 </a> <em> | </em>
		<a class="vk_fast_post" href="forum.php?mod=misc&amp;action=nav" onclick="showWindow('nav', this.href, 'get', 0)"> 发布商品 + </a>
        </span>
    </h2>
	<div class=" col_inner_ct">
  		<!--[diy=diy_vk_pic_2_1_biz]--><div id="diy_vk_pic_2_1_biz" class="area"></div><!--[/diy]-->
    </div>
</div>

<!--  首页 全屏横幅广告占位 5_1  -->
<div class="wp vk_index">
  	<!--[diy=diy_vk_ad_5_1]--><div id="diy_vk_ad_5_1" class="area"></div><!--[/diy]-->
</div>

<!--  图文模块 II - 可用作网友相册或第二个图文模块   -->
<div class="wp vk_index col_inner shadow_1">
    <h2><a href="#" target="_blank"> 我型我秀 </a> <span><a class="vk_fast_post" href="forum.php?mod=misc&amp;action=nav" onclick="showWindow('nav', this.href, 'get', 0)"> 秀出自我 + </a></span></h2>
	<div class=" col_inner_ct">
	  	<!--[diy=diy_vk_pic_2_1]--><div id="diy_vk_pic_2_1" class="area"></div><!--[/diy]-->
	</div>
</div>

<!--  首页 全屏横幅广告占位 6  -->
<div class="wp vk_index">
  	<!--[diy=diy_vk_ad_6]--><div id="diy_vk_ad_6" class="area"></div><!--[/diy]-->
</div>

<!--  社区导读模块  -->
<div class="wp vk_index col_inner shadow_1 ">
    <h2><a href="#" target="_blank"> 论坛导航 </a> <span><a class="vk_fast_post" href="forum.php?mod=misc&amp;action=nav" onclick="showWindow('nav', this.href, 'get', 0)"> 快捷发帖 + </a></span></h2>
	<div class=" col_inner_ct">
  		<!--[diy=diy_vk_guide_bbs]--><div id="diy_vk_guide_bbs" class="area"></div><!--[/diy]-->
    </div>
</div>

<div  style="clear:both;"></div>

<div class="wp vk_index">  
	<!--[diy=diy_ad_bottom_1]--><div id="diy_ad_bottom_1" class="area"></div><!--[/diy]-->
</div>

<div class="wp vk_index col">
	<!-- <h2><a href="#" target="_blank"> 友情链接 </a> <span><a href="#"> 申请链接 +  </a></span></h2> -->
	<div class="shadow_1 ">
  		<!--[diy=diy_ad_2]--><div id="diy_ad_2" class="area"></div><!--[/diy]-->
  	</div>
</div>

<script src="misc.php?mod=diyhelp&action=get&type=index&diy=yes&r={echo random(4)}" type="text/javascript"></script>
<!--{subtemplate common/footer}-->